@media screen and (max-width: 6000px) {
    .booknow-section {
        font-family: fonts.$main-font;
        font-style: normal;
        color: #E8E8E8;
        line-height: 26px;
        font-size: 20px;
    
        &-background-1 {
            min-height: 700px;
            max-width: 1770px;
            width: 100%;
            background-image: url(../img/bookmadrid1-background.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            background-attachment: scroll;
            display: flex;
            gap: 4em;
            padding-right: 50%;
    
            &-container {
                margin-top: 20%;
                margin-bottom: 20%;
                background-color: #232323db;
                max-width: 543px;
                width: 100%;
                height: 374px;
                margin-left: 30%;
            }
        }
        
        &-background-2 {
            min-height: 700px;
            max-width: 1770px;
            width: 100%;
            background-image: url(../img/bookmadrid2-background.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            background-attachment: scroll;
            display: flex;
            gap: 4em;
            padding-left: 50%;
    
            &-container {
                margin-top: 20%;
                margin-bottom: 10%;
                background-color: #232323da;
                max-width: 543px;
                width: 100%;
                height: 374px;
                margin-right: 10%;
            }
        }
    
        &-country {
            letter-spacing: 1.5px;
            font-weight: 400;
            margin-top: 2em;
            margin-left: 2em;
        }
    
        &-title {
            font-weight: 400;
            margin-top: 1em;
            margin-left: 1.5em;
        }
    
        &-text {
            margin-top: 1em;
            font-weight: 300;
            font-size: 16px;
            max-width: 508px;
            min-height: 78px;
            margin-left: 2em; 
            margin-right: 2em;  
        }
    
        &-button {
            margin-top: 2em;
            margin-left: 1em;
        }
    }
    
    .button-booknow {
        background-color: #5474FD;
        color: #ffffff;
        font-family: fonts.$secondary-font;
        font-style: normal;
        font-size: 100;
        letter-spacing: 1.4px;
        line-height: 26px;
        font-size: 14px;
        padding: 1em;
        position: relative;
        border: none;
        height: 63px;
        width: 228px;

        &:hover {
            color:white;
            background-color: orange;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 760px) {
    .booknow-section-background-1-container {
        min-height: 450px
    }

    .booknow-section-background-2-container {
        min-height: 450px
    }

}